<head>
    <style>
        .big-letter {
            font-size: 10rem;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <div class="row my-5">
            <div class="col-md">
                <h1 class="mb-4">Welcome to</h1>
            </div>
        </div>  

        <div class="row">
            <div class="col-md pb-4">
                <span class="big-letter">Y</span>
            </div>
        </div>  

        <div class="row">
            <div class="col-md">
                The perfect place to discover and share with others!
            </div>
        </div>  
    </div>
</body>

