<div class="container">
    <div class="row text-center mt-5">
        <div class="col">
            <h1 class="mb-4">The ideas are meant to be shared!</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col text-center">
            <p>Here in Y, we help you to be part of a connected world</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <p>This are some of the features that we've integrated in our page:</p>
            <ul class="list-unstyled">
                <li>Feature 1</li>
                <li>Feature 2</li>
                <li>Feature 3</li>
            </ul>
        </div>
    </div>

        <div class="row justify-content-around align-items-center mb-5">
            <div class="col-md-3 text-center">
                <img src="/assets/Cybertruck.jpg" alt="Imagen 1" class="img-fluid">
            </div>
            <div class="col-md-3 text-center">
                <img src="/assets/Y.jpg" alt="Imagen 2" class="img-fluid">
            </div>
            <div class="col-md-3 text-center">
                <img src="/assets/connected.jpg" alt="Imagen 3" class="img-fluid">
            </div>
        </div>
    </div>
</div>
